.userinfo {
  background: var(--ant-color-primary-bg);
  height: 47px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  padding-right: 1rem;
  border-radius: 25px;
  box-shadow: var(--ant-box-shadow-secondary);

  &.clickable {
    cursor: pointer;
    transition: 0.3s var(--ant-motion-ease-in-out);

    &:hover {
      transform: translateY(-2px);
    }
  }
}

.placeholder {
  height: 32px !important;
}
