.messages {
  background: var(--ant-color-primary-bg);
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

.placeholder {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  svg {
    width: 110px;
    height: 110px;
  }
}

.blobs {
  margin-top: 1rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}
