.input {
  padding: 0.75rem;
  min-height: 45px !important;
  border-radius: 0;
  border: 0 !important;
  background: var(--ant-color-primary);
  box-shadow: unset !important;
}

.submit {
  border-radius: 0;
  height: 100%;
  width: 60px !important;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover {
    transition: 0.3 var(--ant-motion-ease-in-out) !important;
    background: #162738 !important;
  }
}
